.mcl-btn {
  font-family: system-ui, -apple-system, sans-serif;
  font-size: var(--mcl-font-size-sm);
  font-weight: var(--mcl-font-weight-md);
  padding: var(--mcl-spacing-sm) var(--mcl-spacing-md);
  border-radius: var(--mcl-radius-sm);
  border: none;
  cursor: pointer;
}

.mcl-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.mcl-btn-primary {
  background-color: var(--mcl-color-primary);
  color: var(--mcl-color-primary-contrast);
}

.mcl-btn-secondary {
  background-color: var(--mcl-color-secondary);
  color: var(--mcl-color-secondary-contrast);
}